---
import { getCollection } from "astro:content";

/////////////////////////////////
// COMPONENTS
////////////////////////////////
import MainLayout from "../../layouts/Main.astro";
import SimpleHero from "../../components/blocks/SimpleHero.astro";
import ArticleCard from "../../components/partials/ArticleCard.astro";

/////////////////////////////////
// DATA
////////////////////////////////
const posts = (await getCollection("articles")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainLayout
  title="Articles | Anyrep"
  description="Anyrep offers expert appliance repairs for domestic and commercial appliances in Norwich, Norfolk with over 25 years of experience. Book online or call us today!"
  ogTitle="Articles | Anyrep"
  ogDescription="Anyrep offers expert appliance repairs for domestic and commercial appliances in Norwich, Norfolk with over 25 years of experience. Book online or call us today!"
  twitterTitle="Articles | Anyrep"
  twitterDescription="Anyrep offers expert appliance repairs for domestic and commercial appliances in Norwich, Norfolk with over 25 years of experience. Book online or call us today!"
  breadcrumbs={[
    { href: "/", text: "Home" },
    { href: "/articles", text: "Articles", current: true },
  ]}
>
  <SimpleHero type="slim" title="Articles" />
  <section class="rounded-section-outer">
    <div class="rounded-section-inner py-20">
      <div class="wrapper-large flex items-start flex-wrap md:flex-nowrap">
        <ul
          class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10"
        >
          {
            posts.map((post) => (
              <>
                <ArticleCard
                  title={post.data.title}
                  date={post.data.pubDate}
                  slug={post.slug}
                  description={post.data.description}
                  heroImage={post.data.heroImage}
                />
              </>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</MainLayout>
